<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/styles2.css">
  <title>درباره ی ما</title>
</head>
<body>
  {{>header}}
  <div class="weather">
    <div class="image">
      <a href="https://www.mehrnews.com/tag/%D8%B3%D8%A7%D8%B2%D9%85%D8%A7%D9%86+%D9%87%D9%88%D8%A7%D8%B4%D9%86%D8%A7%D8%B3%DB%8C"><img src="images/11machin-illo-articleLarge-v3.webp" alt=""></a>
    </div>
    <article class="text">
      كشور ايران به دليل گستردگي و وجود كوهستان‌هاي بسيار و زمين‌هاي بياباني و همجواري با دو دريـاي بزرگ در شمال و جنوب و نيز به علت قرار داشتن در مجاورت نسبي اروپا و درياي مديترانه و صحراي بزرگ افريقا و اقيانوس هند و ارتفاعات داخلي آسيا و سرزميـن وسيع سردسيـري، داراي تنوع اقليمي فراواني مي‌باشد. اثر دوري و نزديكي دريا را مي‌تـوان از مقايسه باران بسيار و پوشش گياهي غني و شرايط انساني سواحل دريـاي خزر با بيابان‌هاي خشك و بي‌آب و علف و خالي از سكنه مـراكـز ايران به خوبي درك كرد. امتداد رشته كوه‌ها و قرار داشتن آن‌ها در مقابل يا به موازات بادها و جريانات هوا نيز از عواملي است كه همـواره در تغيير آب و هـوا مؤثر است. در رشتـه كـوه‌هايي كه در مقابل بـادهاي مـرطوب قرار دارند، ميان دامنه‌هاي رو به باد و پشت به باد تفاوت زيادي از نظر مقدار باران و پوشش گيـاهي وجـود دارد.

      در اين‌ فصل‌، آمار مربوط ‌به‌ ايستگاه‌هاي‌ همدیدی مستقر در مراكز استان‌ها شامل‌ درجه‌ حرارت‌، بارندگي‌، رطوبت‌ نسبي‌، تعداد روزهاي‌ يخبندان‌، ساعت‌هاي‌ آفتابي‌، حجم آب ریزش درحوضه های آبریز اصلی و سرعت‌ وزش‌ باد ارائه‌ شده‌ است‌.

      اندازه‌گيري‌ مشخصه‌هاي‌ جوي‌ از سال‌ 1320 آغاز شده‌ است‌. در حال‌ حاضر، جمع‌آوري‌ آمارهاي‌ مربوط به‌ هواشناسي‌ از طريق‌ اندازه‌گيري‌ مشخصه‌هاي‌ جوي‌ (دما و...) در ايستگاه‌هاي‌ همدیدی مستقر در نقاط مختلف‌ كشور‌ انجام‌ مي‌‌گيرد

      توضيحات ضروري

      1- برخي از مركز اسـتان‌ها‌ داراي‌ چند ايستگاه‌ همدیدی بـــوده كه اطلاعات ارائه شده در اين فصل، مربوط‌ به‌ ايسـتگاه‌ مسـتقر در فرودگاه‌ مركز آن اسـتان‌ است‌.

      2- در سال 1383 نام حوضه‌هاي آبريز مركزي، هامون و سرخس توسط وزارت نيرو بـه ترتيب به فـلات مـركزي، مــرزي شــرق و قره‌قوم تغيير يافته است.

      براي تهيه و تنظيم آمار و اطلاعات اين فصل، از اطلاعات سازمان جغرافيايي نيروهاي مسلح، وزارت كشور، سازمان هواشناسي كشور و شركت مديريت منابع آب ايران استفاده شده است. لازم به ذکر است اطلاعات ارائه شده به شیوه ثبتی تولید شده است.
    </article>
  </div>
</body>
</html>