<!DOCTYPE html>
<html dir="rtl" lang="fa">
  
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>آب و هوا</title>
  <link rel="icon" type="images/png" href="images/weather-png-9873.png">
  <link rel="stylesheet" href="css/styles.css">
  <script src="js/scripts.js" defer></script>
</head>
<body>
  <div class="weather">
    <header>
      <input type="search" class="weather__search" placeholder="نام شهر" list="suggestion">
      <datalist id ="suggestion" class="suggestion"></datalist>
      {{>header}}
      <div class="hamburger">
        <div class="line line-1"></div>
        <div class="line line-2"></div>
        <div class="line line-3"></div>
      </div>
    </header>
    <div class="weather__today">
      <div class="weather__details">
        <h2 class="weather__city">تهران</h2>
        <p class="weather__day">چهارشنبه</p>
        <div class="weather__current">
          <p class="weather__indicators weather__indicators--humidity"> <span class="value">50</span>% </p>
          <p class="weather__indicators weather__indicators--wind"> <span class="value">&nbsp;غرب _ 4</span>  متر بر ثانيه </p>
          <p class="weather__indicators weather__indicators--pressure"><span class="value">&nbsp;&nbsp;1050</span> hPa</p>
        </div>
      </div>
      <img class="weather__image" src="images/sunny2.png" alt="">
      <div dir="ltr" class="weather__temp"><span class="value"> 25 </span><span > &deg;c</span></div>
    </div>
    <div class="weahter__forecast">
      <article class="weather__forecast__item">
        <img src="images/sunny2.png" alt="" class="weather__forecast__icon">
        <h3 class="weather__forecast__day">روز</h3>
        <p class="weather__forecast__temprature "><span class="value">25</span>&deg;c</p>
      </article>
      <article class="weather__forecast__item">
        <img src="images/sunny2.png" alt="" class="weather__forecast__icon">
        <h3 class="weather__forecast__day">روز</h3>
        <p class="weather__forecast__temprature"><span class="value">25</span>&deg;c</p>
      </article>
      <article class="weather__forecast__item">
        <img src="images/sunny2.png" alt="" class="weather__forecast__icon">
        <h3 class="weather__forecast__day">روز</h3>
        <p class="weather__forecast__temprature"><span class="value">25</span>&deg;c</p>
      </article>
      <article class="weather__forecast__item">
        <img src="images/sunny2.png" alt="" class="weather__forecast__icon">
        <h3 class="weather__forecast__day">روز</h3>
        <p class="weather__forecast__temprature"><span class="value">25</span>&deg;c</p>
      </article>
      <article class="weather__forecast__item">
        <img src="images/sunny2.png" alt="" class="weather__forecast__icon">
        <h3 class="weather__forecast__day">روز</h3>
        <p class="weather__forecast__temprature"><span class="value">25</span>&deg;c</p>
      </article>
    </div>

  </div>
</body>
</html>